* {
    margin: 0;
}

body {
    font-size: 1em;
    font-family: 'Manrope', sans-serif;
    background-color: #1F2039;
}

a {
    color: #242424;   
    text-decoration: none;
}

em {
    color: #A5B4FC;
    font-style: normal;
}

h1 {
    font-size: 3.5em;
    color: #A5B4FC;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    color: #F9F8FF;
}

p,
li {
    font-size: 1em;
    font-family: 'Manrope', sans-serif;
    color: #F9F8FF;
}

header,
footer {
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

section {
    padding: 80px;
}

.cta {
    background: linear-gradient(#8E86B5, #ACAEED);
    font-family: 'Montserrat', sans-serif;
    color: white;
    border-radius: 50px;
    padding: 20px 30px;
    display: inline-block;

}

.contenu {
    border-right: 1px solid #a5b4fc;
    border-bottom: 1px solid #a5b4fc;
    padding: 50px;
}

.contenu h2 {
    margin-top: 30px;
}

.contenu ul {
    margin-top: 30px;
}

a:hover {
    text-decoration: underline;
}

.cta:hover {
    background: linear-gradient(#696484, #8788ba);
    text-decoration: none;
}

.lien-icone:hover {
    opacity: 0.5;
}

.a-propos-main {
    width: 50%;
    margin: auto;
}

footer,
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.accueil-intro {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 50%;
    margin: auto;
}

.accueil-photos {
    background-color: white;
    padding: 80px;
}

.accueil-photos h2 {
    color: #242424;
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}

.accueil-photos div {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    margin-bottom: 15px;
}

.portfolio-section-photos {
    background-color: white;
}

.portfolio-section-photos h2 {
    color: #242424;
    margin-bottom: 80px;
}

.grid-paysages img,
.grid-portraits img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid-paysages {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px 300px;
    gap: 15px;
}

.grid-portraits {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px 300px;
    gap: 15px;
}

.intro {
    padding-right: 25px ;
}

.accueil-intro h1 {
    margin-bottom: 15px;
}

.accueil-intro p {
    margin-bottom: 30px;
}

.accueil-intro div {
    padding-right: 80px;
}

.a-propos-main h1 {
  margin-right: 80px;
}

.lien-conteneur-photo{
    position: relative;
}

.photo-hover {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
}

.lien-conteneur-photo:hover .photo-hover {
    display: flex;
} 

